<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Email Archiver</title>

        <link rel="stylesheet" href="{{ path_for('home') }}style.css" />
    </head>
    <body onload="onBodyLoad();">
        <div class="container">
            {% if logged_in %}
            <p class="centre noprint">
                &bull; <a href="{{ path_for('home') }}">Emails</a>
                &bull; <a href="{{ path_for('inbox') }}">Inbox</a>
                &bull; <a href="{{ path_for('people') }}">People</a>
                &bull; <a href="{{ path_for('logout') }}">Logout</a>
                &bull;
            </p>
            {% endif %}

            {% if flash %}
                <p class="flash notice message">{{ flash }}</p>
            {% endif %}

            <main id="content">
                {% block content %}{% endblock %}
            </main>
        </div>
        <script type="application/javascript" src="scripts.js"></script>
    </body>
</html>
