{% extends 'base.html.twig' %}

{% block content %}

<p class="centre years">Years:
    {% for y in years %}
        <a href="{{ path_for('home') }}?year={{ y }}" {% if y == year %}class="selected"{% endif %}>{{ y }}</a> &middot;
    {% endfor %}
</p>

<p class='centre'>
    Showing {{ emails|length|number_format }} of {{ email_count|number_format }} emails.
    <a href="{{ path_for('latex', {year: year}) }}">Download {{ year }} as {{ latex|raw }}.</a>
    Jump to <a href="#people">#people</a>
</p>

{% for email in emails %}
<div class="email {% if email.from_id == main_user_id %}from-me{% endif %}"
     {% if loop.last %}id="last-email"{% endif %}>
    <p>
        <span class='from'>{{ attribute( people, email.from_id ).name }}</span>{#
        #}{% if not with %} (to {{ attribute( people, email.to_id ).name }}){% endif %},
        {{ email.date_and_time|date('l, F jS, g:iA') }}
        <strong>{{ email.subject }}</strong>
    </p>
    <pre>{{ email.message_body|wordwrap(78) }}</pre>
</div>
{% endfor %}

{% if with %}
<form action="{{ path_for('send') }}" method="post">
    <table>
        <caption>Compose</caption>
        <tr>
            <th><label for="to">To:</label></th>
            <td>
                {{ to.name }} &lt;{{ to.email_address }}&gt;
                <input type="hidden" name="to" id="to" value="{{ to.id }}" />
            </td>
        </tr>
        <tr>
            <th><label for="subject">Subject:</label></th>
            <td><input type="text" name="subject" id="subject" value="{{ subject }}" size="80"/></td>
        </tr>
        <tr>
            <th><label for="message_body">Message:</label></th>
            <td><textarea name="message_body" rows="24" cols="80"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" name="send" value="Send" />
                <input type="hidden" name="with" value="{{ with }}" />
                <input type="hidden" name="year" value="{{ year }}" />
                <input type="hidden" name="last_date" value="{{ last_date }}" />
            </td>
        </tr>
    </table>
</form>
{% endif %}

<section id="people">
    <h2>People:</h2>
    <ul class='columnar'>
        {% for person in people %}
            <li>
                <a class='{{ person.css_class }}' href="{{ path_for('home') }}?with={{ person.id }}&year={{ person.most_recent_year }}#last-email">
                    {{ person.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
    
{% endblock %}
