{% extends 'base.html.twig' %}

{% block content %}

<h2>People</h2>
<ol>
    {% for person in people %}
        <li>
            <a href="{{ path_for('person_edit', { id: person.id } ) }}">
                {{ person.name }}
                {% if person.email_address %}&lt;{{ person.email_address }}&gt;{% endif %}
            </a>
            {{ person.notes }}
            <a href="{{ path_for('person_delete', { id: person.id } ) }}" class="noprint delete">[d]</a>
        </li>
    {% endfor %}
</ol>

{% endblock %}
